<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find user</title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/search" method="get">
        <label for="name">Find by name: </label><input name="name", id="name">
        <labe for="email"> Find by email: </labe><input name="email" id="email">
        <button type="submit">search!</button>
    </form>
    <button><a href="/">Return to main page</a></button>

    <div>
        <%if (name || email){%>
            <div>looking for: <%= name %>, email: <%= email %></div>
        <%}%>

    </div>
    
    
</body>
</html>