<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find user</title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/search" method="get">
        <label>Find by name: </label><input>
        <labe> Find by email: </labe><input>
    </form>
    
</body>
</html>